.controles-container{
  width:100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
}
.controles-container >*{
  width: 100%;
}
.button-row{
  display: flex;
  justify-content: flex-end;
}
.box1{
  display: flex;
  justify-content: space-between;
}
form{
  margin: 5px;
  margin-bottom: 20px;
  padding: 5px;

}
.button{
  margin-bottom: 20px;
}
