<div>
  <div class="form">
    <!--N°-->
    <div class="form-group">
      <div class="row  mb-3">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
          <label>N°</label>
        </div>
        <div class="col-md-1">
          <label>:</label>
        </div>
        <div class="col-md-7">
          <label>{{getrow().entreprise_id}}</label>
        </div>
      </div>
    </div>
    <!--Nom-->
    <div class="form-group">
      <div class="row  mb-3">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
          <label>Nom</label>
        </div>
        <div class="col-md-1">
          <label>:</label>
        </div>
        <div class="col-md-7">
          <label>{{getrow().name}}</label>
        </div>
      </div>
    </div>
<!--Adresse-->
    <div class="form-group">
      <div class="row  mb-3">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
          <label>Adresse</label>
        </div>
        <div class="col-md-1">
          <label>:</label>
        </div>
        <div class="col-md-7">
          <label>{{getrow().adress}}</label>
        </div>
      </div>
    </div>
<!--Email-->
    <div class="form-group">
      <div class="row  mb-3">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
          <label>Email</label>
        </div>
        <div class="col-md-1">
          <label>:</label>
        </div>
        <div class="col-md-7">
          <label>{{getrow().email}}</label>
        </div>
      </div>
    </div>
<!--No°Telephone-->
    <div class="form-group">
      <div class="row  mb-3">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
          <label>N°Telephone</label>
        </div>
        <div class="col-md-1">
          <label>:</label>
        </div>
        <div class="col-md-7">
          <label>{{getrow().telephone_number}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
