<!--<mat-toolbar class="box1">-->
<!--  <ul class="na nav-tabs card-header-tabs">-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link active" href="">Info</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" href="#">Departements</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--  <div class="space-between"></div>-->
<!--  <button mat-icon-button (click)="onClose()">-->
<!--    <mat-icon>close</mat-icon>-->
<!--  </button>-->
<!--</mat-toolbar>-->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{entreprise.name}}</h5>
  <button type="button" class="close" (click)="onClose()">
    <i aria-hidden="true" class="ki ki-close"></i>
  </button>
</div>
<div class="box-nav">
  <button mat-flat-button class="details" color="accent" (click)="getStatu(false)">
    show Details
  </button>
  <button mat-flat-button class="departement"  color="primary" (click)="getStatu(true)">
    show Departements
  </button>
</div>
<mat-card>
  <mat-card-content>
    <div *ngIf="!statu">
      <app-entrepise-details></app-entrepise-details>
    </div>
    <div *ngIf="statu">
      <app-entreprise-departement-list></app-entreprise-departement-list>
    </div>
  </mat-card-content>
</mat-card>
