<div class="card card-custom">
  <div class="card-header card-header-tabs-line">
    <div class="card-title">
      <h1 class="h1">Présence</h1>
    </div>
    <div class="card-toolbar">
      <ul class="nav nav-tabs nav-bold nav-tabs-line">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_3">
            <span class="nav-icon"><i class="fas fa-calendar-day"></i></span>
            <span class="nav-text">Aujourd'hui</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_3">
            <span class="nav-icon"><i class="fa fa-calendar"></i></span>
            <span class="nav-text">Mois actuel</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_3_3">
            <span class="nav-icon"><i class="flaticon2-search-1"></i></span>
            <span class="nav-text">Rechercher</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="kt_tab_pane_1_3" role="tabpanel" aria-labelledby="kt_tab_pane_1_3">
        <app-attendece-day></app-attendece-day>
      </div>
      <div class="tab-pane fade" id="kt_tab_pane_2_3" role="tabpanel" aria-labelledby="kt_tab_pane_2_3">
        <app-month></app-month>
      </div>
      <div class="tab-pane fade" id="kt_tab_pane_3_3" role="tabpanel" aria-labelledby="kt_tab_pane_3_3">
        <app-search></app-search>
      </div>
    </div>
  </div>
</div>

