<form>
  <div class="form-group mb-2">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." (keyup)="filtring($event)"/>
      <div class="input-group-prepend">
        <button class="btn btn-primary" type="button" disabled><i class="fas fa-search"></i></button>
      </div>
  </div>
  </div>
</form>
<div>
  <mat-table [dataSource]="listEmploye" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="employe_Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
      <mat-cell *matCellDef="let employe">{{employe.employe_Id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>nom</mat-header-cell>
      <mat-cell *matCellDef="let employe">{{employe.nom}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="groupe">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Groupe</mat-header-cell>
      <mat-cell *matCellDef="let employe">{{employe.groupe!=null?employe.groupe.nom:'No group'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="adresse">
      <mat-header-cell *matHeaderCellDef mat-sort-header>address</mat-header-cell>
      <mat-cell *matCellDef="let employe">{{employe.adresse}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>email</mat-header-cell>
      <mat-cell *matCellDef="let employe">{{employe.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="telephone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>No. Telephone</mat-header-cell>
      <mat-cell *matCellDef="let employe">{{employe.telephone}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="shift">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Shift</mat-header-cell>
      <mat-cell *matCellDef="let employe">{{employe.groupe!=null?employe.shiftDto.nom:'No shift'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="statut">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Statut</mat-header-cell>
      <mat-cell *matCellDef="let employe">
      <span class="btn font-weight-bold mr-2"[ngClass]="{'btn-light-danger':employe.statu==0,'btn-light-primary ':employe.statu==1}">{{employe.statu>0?'Present':'Absent'}}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row ;index as i">
        <button mat-icon-button class="btn btn-light-info font-weight-normal mr-2" (click)="getInfo(row)"><i
          class="fas fa-info"></i></button>
        <button mat-icon-button class="btn btn-light-primary font-weight-bold mr-2" (click)="OnEdit(row,i)"><i
          class="fas fa-edit"></i></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef>
        loading data ...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef>
        table is empty
      </mat-footer-cell>
    </ng-container>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listEmploye!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide':listEmploye !=null && listEmploye.data.length != 0 }"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons
                 [ngClass]="{'hide' :listEmploye==null}"></mat-paginator>
</div>
